@import "bootstrap.css";
@import "bootstrap-grid.css";
@import "bootstrap-reboot.css";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

$font-main: 'Myriad Pro', sans-serif;
$font-sub: 'Oswald', sans-serif;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

.main_page{
  background-color: black;
  height: 100vh;
  position: relative;
  .navbar-dark .navbar-nav .nav-link{
    font-family: $font-sub;
    font-size: 18px;
    color: white;
    padding-left: 100px;
    @include max-screen (1024px) {
      padding-left: 70px;
    }
    &:hover {
      text-decoration: line-through;
      color: #ffffff;
    }
  }
  .navbar-toggler{
    border-radius: 0;
    border: none;
    &:hover, &:focus{
      border: none;
    }
    span{
      background-image: none;
      i{
        color: white;
        font-size: 28px;
      }
    }
  }
  .main-screen{
    position: absolute;
    bottom: 40vh;
    @include max-screen (736px) {
      bottom: 10vh;
    }
    @include max-screen (414px) {
      bottom: 20vh;
    }
  }
}